In [49]:
import pandas as pd
import numpy as np

In [50]:
EXAMPLE_1 = '../data/lec11/Example.xlsx'
df_e = pd.read_excel(EXAMPLE_1, sheet_name='Example', index_col=0)

# EXAMPLE_2 = '../data/lec11/Groceries.xlsx'
# df_g = pd.read_excel(EXAMPLE_2)

In [51]:
df_e.head()

                Onion  Potato  Burger  Milk  Beer
Transaction ID
1                   1       1       1     0     0
2                   0       1       1     1     0
3                   0       0       0     1     1
4                   1       1       0     1     0
5                   1       1       1     0     1

In [52]:
ante = 'Beer'
cons = 'Milk'

num = float(len(df.index))

In [53]:
# rule is beer -> milk
supp_x = df_e[ante].sum() / num
supp_y = df_e[cons].sum() / num

# confidence beer -> milk
conf = len(df_e[(df_e[ante] == 1) & (df_e[cons] == 1)].index) / num
conf = conf / supp_x
lift = conf / supp_y

In [54]:
from apyori import apriori

In [56]:
tr_list = []
item_list = df_e.columns

In [59]:
for i, row in df_e.iterrows():
    tmp = [item for item in item_list if row[item] == 1]
    tr_list.append(tmp)

In [64]:
assoc_rules = apriori(tr_list, min_support=0.51, min_confidence=0.5, min_length=3)

In [65]:
assoc_result = list(assoc_rules)

In [66]:
assoc_result

[RelationRecord(items=frozenset({'Burger'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Burger'}), confidence=0.6666666666666666, lift=1.0)]),
 RelationRecord(items=frozenset({'Milk'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Milk'}), confidence=0.6666666666666666, lift=1.0)]),
 RelationRecord(items=frozenset({'Onion'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Onion'}), confidence=0.6666666666666666, lift=1.0)]),
 RelationRecord(items=frozenset({'Potato'}), support=0.8333333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Potato'}), confidence=0.8333333333333334, lift=1.0)]),
 RelationRecord(items=frozenset({'Potato', 'Burger'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Burger'}), items_add=frozenset({'Potato'}), confidence=1.0, lift=1.2), OrderedStatistic(items_base=frozenset({'Potato'}), items_add=frozenset({'Burger'}), confidence=0.7999999999999999, lift=1.2)]),
 RelationRecord(items=frozenset({'Onion', 'Potato'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Onion'}), items_add=frozenset({'Potato'}), confidence=1.0, lift=1.2), OrderedStatistic(items_base=frozenset({'Potato'}), items_add=frozenset({'Onion'}), confidence=0.7999999999999999, lift=1.2)])]